<header class="container">
  <button class="btn btn-sidebar">
    <mat-icon class="mat-icon sidebar">
      clear_all
    </mat-icon>
  </button>
  <div class="logo">
    <p class="logo-text">SuperVideos</p>
    <mat-icon class="custom-icon">animated_images_outlined</mat-icon>
  </div>
  <div class="searchbar-container">
    <input type="text" class="searchbar-input" placeholder="pesquise vídeos aqui">
    <div class="search-icon">
      <mat-icon class=" mat-icon search">search</mat-icon>
    </div>
  </div>
  <div class="profile">
    <button class=" btn profile-btn">
      <mat-icon class="mat-icon accIcon">
        account_circle_outlined
      </mat-icon>
    </button>
    <!-- <div class="profile-dropdown"></div> -->
  </div>
</header>