<header class="container">
  <div class="logo">
    <h3 class="logo-txt">MyVideos</h3>
    <mat-icon class="logo-icon">animated_images</mat-icon>
  </div>

  @if(isMobile) {
  <button class="search-btn" (click)="toggleSearchBox()">
    <mat-icon class="search-icon">search</mat-icon>
  </button>
  @if (showSearchBox) {
  <input type="text" class="searchbar-input" placeholder="Busque videos aqui!" [(ngModel)]="searchTerm"
    (input)="onSearchInput($event)">
  }
  } @else {
  <div class="searchContainer">
    <input type="text" class="searchbar-input" placeholder="busque videos aqui" [(ngModel)]="searchTerm"
      (input)="onSearchInput($event)">
    <div class="search-results">
      @if(searchResults.length > 0) {
      <ul class="search-results_list">
        @for(result of searchResults; track result.id) {
        <li class="search-result_item" [routerLink]="['/results']">{{result.title}}</li>
        }
      </ul>
      }
    </div>
  </div>
  }
  <div class="profile">
    @if(isAuthenticated$) {
    <button class="dropdown-btn" (click)="toggleDropdown($event)">
      <img [src]="(user$)?.picture" alt="user-profile" class="user-img">
      @if (isDropdown === true) {
      <div class="dropdown-content">
        <button class="dropdown-item" [routerLink]="['/user', user$.id, 'profile']">Perfil</button>
        <button class="dropdown-item" [routerLink]="['/user', user$.id, 'history']">Histórico</button>
        <button class="dropdown-item" [routerLink]="['/user', user$.id, 'favorites']">Favoritos</button>
        <button class="dropdown-item logout-btn" (click)="logout()">Sair</button>
      </div>
      }
    </button>
    } @else {
    <button class=" btn profile-btn dropdown-btn" (click)="toggleDropdown($event)">
      <mat-icon class="mat-icon accIcon">
        account_circle_outlined
      </mat-icon>
      @if(isDropdown === true) {
      <div class="dropdown-content">
        <button class="dropdown-item login-btn" (click)="login()">login</button>
      </div>
      }
    </button>
    }
  </div>
</header>