<header class="container">
  <button class="btn btn-sidebar">
    <mat-icon class="mat-icon sidebar">
      clear_all
    </mat-icon>
  </button>
  <div class="logo">
    <img [src]="logoSrc" alt="logo" class="logo">
  </div>
  <div class="searchContainer">
    <input type="text" class="searchbar-input" placeholder="busque videos aqui" [(ngModel)]="searchTerm"
      (input)="onSearchInput($event)">
    <div class="search-results">
      @if(searchResults.length > 0) {
      <ul class="search-results_list">
        @for(result of searchResults; track result.id) {
        <li class="search-result_item" [routerLink]="['/results']">{{result.title}}</li>
        }
      </ul>
      }
    </div>
  </div>
  <div class="profile">
    @if(isAuthenticated$) {
    <img [src]="(user$)?.picture" alt="user-profile" class="user-mg">
    <button class="dropdown-btn">
      <div class="dropdown-content">
        <button class="dropdown-item" [routerLink]="['user:id/profile']">Perfil</button>
        <button class="dropdown-item" [routerLink]="['user:id/history']">Histórico</button>
        <button class="dropdown-item" [routerLink]="['user:id/favorites']">Favoritos</button>
        <button class="dropdown-item logout-btn" (click)="logout()">Sair</button>
      </div>
    </button>
    } @else {
    <button class=" btn profile-btn dropdown-btn">
      <mat-icon class="mat-icon accIcon">
        account_circle_outlined
      </mat-icon>
      @if(isDropdown === true) {
      <div class="dropdown-content">
        <button class="dropdown-item login-btn" (click)="login()">login</button>
      </div>
      }

    </button>
    }

    <!-- <div class="profile-dropdown"></div> -->
  </div>
</header>